/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Root */

* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'poppins', sans-serif;
    border: 0;
}

/* Body of Page Style */


body {
    background: white;
    font-family: 'Poppins';
}

/* Logo */

.logo {
    margin-right: auto;
    padding-left: 30px;
    height: 100px;
    width: 180px;
    align-items: center;
    cursor: pointer;
    z-index: 301;
}

.box-one {
    height: 665px;
    width: 100%;
    position: relative; /* To position the image within the container */
    overflow: hidden; /* Hide any overflow */
    margin: 0;
}

/* Navbar */

.navbar {
    position: absolute;
    background-color: transparent;
    border-bottom: 0;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    list-style: none;
    top: auto;
    z-index: 300;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 25px 20px;
}


.navbarlinks {
    font-family: 'poppins';
    font-size: 0.9em;
    color: black;
    list-style-type: none;
    text-decoration: none;
    float: right;
    margin: 0;
    padding: 0;
    width: 12%;
    margin-right: 40px;
}

.navbarlinks a {
    float: right;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 0.9em;
    align-items: center;
    width: 12%;
}

  /* Style the current/active link */
  .navbar a.active {
    background-color: transparent;
  }

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: transparent;
    color: white;
  }
  
/* SECTION ONE */

.section1pic {
    object-fit: scale-down;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
    top: -400px;
}

/* Order now button */

.orderbutton {
    position: relative;
    height: 30px;
    width: 90px;
    background-color: black;
    border: none;
    font-family: 'poppins';
    top: 390;
    left: 465;
    padding-right: 40px;
    z-index: 351;
}

/* Title - Model3 */

h1 {
    position: relative;
    font-family: 'poppins';
    font-size: 5em;
    color: white;
    top: 350px;
    left: 550px;
    z-index: 350;
}

/* Price text */

.price {
    position: relative;
    font-family: 'poppins';
    font-size: 2em;
    color: white;
    top: 350px;
    left: 550px;
    padding-top: 10px;
    z-index: 350;
}

/* T&C's text */

.terms {
    position: relative;
    font-family: 'poppins';
    font-size: 0.8em;
    color: white;
    top: 360px;
    left: 465px;
    padding-top: 10px;
    z-index: 350;

}

/* SECTION TWO */

.box-two {
    height: 665px;
    width: 100%;
    position: relative; /* To position the image within the container */
    overflow: hidden; /* Hide any overflow */
    margin: 0;
}

h2 {
    position: absolute;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 5em;
    color: black;
    top: 50px;
    left: 455px;
    z-index: 351;
}

.accessoriepic {
    z-index: 350;
}

/* SECTION THREE */

.box-three {
    height: 665px;
    width: 100%;
    position: relative; /* To position the image within the container */
    overflow: hidden; /* Hide any overflow */
    margin: 0;
}

h3 {
    position: absolute;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 5em;
    color: white;
    top: 50px;
    left: 555px;
    z-index: 351;
}

.energypic {
    z-index: 350;
}

/* FOOTER */

.footer {
    position: fixed bottom; 
    height: 400px;
    width: 100%;
    display: flex;
    background-color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: white;
}

/* Footer text */

.footertext1 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    color: white;
}

/* Media queries - Responsiveness */

/* 24" Desktop -  1920px */

@media only screen and (min-width: 1920px) {
    .section1pic {
        width: 100%; /* Make the image full width */
    }
}

@media only screen and (min-width: 1920px) {
    h1 {
        top: 120px;
        left: 800px;
    }
}

@media only screen and (min-width: 1920px) {
    .price {
        top: 125px;
        left: 800px;
    }
}

@media only screen and (min-width: 1920px) {
    .terms {
        top: 410px;
        left: 720px;
    }
}

@media only screen and (min-width: 1920px) {
    h2 {
        top: 120px;
        left: 690px;
    }
}

@media only screen and (min-width: 1920px) {
    h3 {
        top: 120px;
        left: 800px;
    }
}

@media only screen and (min-width: 1920px) {
    .footer {
        height: 200px;
    }
}

/* 1680px - Desktop 22" */

@media only screen and (max-width: 1680px) {
    h1 {
        top: 100px;
        left: 660px;
    }
}

@media only screen and (max-width: 1680px) {
    .price {
        top: 110px;
        left: 660px;
    }
}

@media only screen and (max-width: 1680px) {
    .terms {
        top: 400px;
        left: 550px;
    }
}

@media only screen and (max-width: 1680px) {
    .footer {
        height: 200px;
    }
}

/* 1600px - Desktop 20" */

@media only screen and (max-width: 800px) {
    .footer {
        height: 200px;
    }
}

/* 1425px - Laptop/Desktop */
@media only screen and (max-width: 1425px) {
    h1 {
        left: 530px;
        top: 100px;
    }
}

@media only screen and (max-width: 1425px) {
    .price {
        left: 530px;
        top: 100px;
    }
}

/* 1366px - Notebook 15" */

/*1024 - Notebook 13" */

/* 800px - Tablet */
@media only screen and (max-width: 800px) {
    .section1pic {
        left: -300px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        left: 150px;
        top: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .price {
        left: 150px;
        top: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .accessoriepic {
        left: -800px;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        left: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .energypic {
        left: -800px;
    }
}
